@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100%;
  background-image: linear-gradient(#50a0bf, #4ac184);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* tailwind.css or your CSS file */
.opacity-gradient {
  @apply bg-gradient-to-b;
  background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.5));
}
