@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100%;
  background-image: linear-gradient(#50a0bf, #4ac184);
  background-repeat: no-repeat;
  background-attachment: fixed;
}